$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;

$black: #323232;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$white: #FFFFFF;
$instock-blue: #004892;
$instock-blue-dark: #002F5F;
$brainflix-blue: #0095FF;
$brainflix-blue-dark: #0065AD;